body{
    margin: 0px;
    padding: 0px;
    
}
.navigation{
    background-color: #27368a; 
    padding: 24px;
}
.navigation .lists li a{
    color: goldenrod;
    font-size: 18px;
}
.navigation .lists li a:hover{
    color: white;
}
.short{
    color: white;
}
.collapsed:hover .short{
    color: black;
}
.collapsed:visited .short{
    color: black;
}
.logo
{
    background-color: #27368a; 
}
.cars{
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2);
}
.car-details{
    text-align: center;
    font-family: 'Century Gothic';
}
.names{
    background-color: yellow;
    font-family: 'Century Gothic';
    text-align: center;
}
.contact{
    background-color: black;
    opacity: .8;
}
.signupuser{
    background-color: black;
}
.aboutus{
    text-align: justify;
    font-size: 18px;
    font-family: 'Century Gothic';
    border: 2px solid #ab8514;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 2px 3px 8px;
}
.work{
    text-align: justify;
    font-family: 'Arial';
    margin-bottom: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 200px;
    background-color: #f1f1f1;
    font-size: 18px;
}
.work-icon{
    margin-left: 45%;
    margin-bottom: 15px;
    font-size: 40px;
    color: #028402;
    
}
.car-image{
    border-right: 1px solid gray;    
    height: 120px;
}
.price{
    font-size: 25px;
    color: green;
    text-align: center;
}
.car-details{
    padding: 10px;
    box-shadow: 2px 0px 15px rgba(0,0,0,0.2);
    margin-top: 10px;
}
.checkout{
    border: 1px solid gray;
    margin: 10% 0 10% 0;
    padding: 10px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f0f0f0;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #80ff80;
}
